<div class="container">
    <div class="row">
        <div class="main-form">
            <h2>Checking Password Strength</h2>
            <br>
            <form [formGroup]="passwordForm">
                <div class="form-input-group">
                    <input class="form-input" type="text" formControlName="password" placeholder="Password">

                </div>
                <app-password-strength 
                [passwordToCheck]="passwordForm.value.password"
                (passwordStrength)="passwordValid($event)">
            </app-password-strength>
            </form>
        </div>
    </div>
</div>